* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 2rem 14rem;
}
.link {
  text-decoration: none;
  color: #353237;
}
li {
  list-style-type: none;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}

// =======================
//===========================
#header {
  background-color: #fff5f2;

  .container {
    margin: 0 14rem;
  }
}
